.btn {
	@include btnNone;

	cursor: pointer;

	border-radius: 100px;
	font-family: "Roboto Mono";
	text-transform: uppercase;

	position: relative;

	transition: box-shadow, background 0.1s linear;

	&::before {
		content: "";
		left: 20px;
		top: 50%;
		transform: translateY(-50%);
		width: 24px;
		height: 24px;
		display: block;

		position: absolute;

		background-repeat: no-repeat;
		background-size: contain;
		background-position: center center;
	}

	&:hover {
		background: rgba($Green, 0.05);
		box-shadow: 0px 2px 10px rgba(#606161, 1);
	}

	&--pets {
		padding: 14px 20px 14px 60px;

		border: 1.5px solid #19707d;
		letter-spacing: 0.1em;
		color: #19707d;

		&::before {
			background-image: url(../img/icon-heart.svg);
		}
	}

	&--feeding {
		padding: 14px 78px;
		background: $LightGreen;

		letter-spacing: -0.05em;
		color: $Green;

		&:hover {
			background: rgba($LightGreen, .7);
			box-shadow: 0px 2px 10px rgba($Green, 1);
		}
	}

	&--testimonials {
		padding: 14px 20px 14px 60px;

		border: 1.5px solid #19707d;
		letter-spacing: 0.1em;
		color: #19707d;

		&::before {
			background-image: url(../img/icon-comment.svg);
		}
	}
}
