.header {
	padding: 13px 0;
	background: #2a8086;
	box-shadow: 0px 1px 10px rgba(18, 87, 91, 0.25);
	z-index: 3;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.header__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header__left {
	display: flex;
	align-items: center;
}
.header__logo {
	width: 108px;
	height: 84px;
}

.header__right {
	display: flex;
}

@media screen and (max-width: $smallDesktop) {
	.header {
		padding: 20px 30px;
	}
}
