.header,
.header--zoos {
	padding: 13px 0;
	background: #2a8086;
	box-shadow: 0px 1px 10px rgba(18, 87, 91, 0.25);
	z-index: 3;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.header--zoos {
	.container {
		max-width: 1630px;
	}
}

.header__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header__left {
	display: flex;
	align-items: center;
}
.header__logo {
	display: block;
	width: 108px;
	height: 84px;
}

.header__right {
	display: flex;
}

@media screen and (max-width: $smallDesktop) {
	.header {
		padding: 20px 30px;
	}
}

@media screen and (max-width: $smallDesktop-zoos) {
	.header--zoos {
		padding: 20px 30px;

		.container {
			max-width: 1158px;
		}
	}
}

@media screen and (max-width: $tablet) {
	.header {
		padding: 20px 0;
	}
	.header__logo {
		width: 49px;
		height: 38px;
	}
}

@media screen and (max-width: $tablet-zoos) {
	.header--zoos {
		padding: 20px 0;

		.container {
			max-width: 592px;
		}
	}
}

@media screen and (max-width: $mobile) {
	.header {
		padding: 7px 0 5px;

		&--zoos {
			padding: 7px 0 5px;
		}
	}
	.header__logo {
		width: 49px;
		height: 38px;
	}
}





@media screen and (max-width: $mobile-zoos) {
	.header--zoos {
		padding: 7px 0 5px;

		.container {
			max-width: 320px;
		}
	}
}
