.main-cameras {
	margin-bottom: 56px;
}
.main-cameras__header {
	margin-bottom: 24px;

	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.main-cameras__title {
	font-family: "Rubik";
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	color: $Green;
}
.main-cameras__info {
	display: flex;
}
.main-cameras__info-item {
	cursor: pointer;
	text-align: center;
	line-height: 42px;
	width: 42px;
	height: 42px;
	display: block;

	border: 1.5px solid #19707d;
	box-sizing: border-box;
	border-radius: 100px;

	text-transform: lowercase;
	color: #19707d;

	&:last-child {
		margin-left: 34px;
	}
}
.main-cameras__subtitle {
	margin-bottom: 10px;

	font-family: "Rubik";
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	text-transform: capitalize;
	color: $Green;
}

@media screen and (max-width: $smallDesktop-zoos) {
	.main-cameras {
		margin-bottom: 25px;
	}
	.main-cameras__header {
		margin-bottom: 24px;

		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}
	.zoos-title {
		font-family: "Rubik";
		font-weight: 400;
		font-size: 24px;
		line-height: 28px;
		text-transform: uppercase;
		color: $Green;
	}
	.main-cameras__info {
		display: flex;
	}
	.main-cameras__info-item {
		cursor: pointer;
		text-align: center;
		line-height: 42px;
		width: 42px;
		height: 42px;
		display: block;

		border: 1.5px solid #19707d;
		box-sizing: border-box;
		border-radius: 100px;

		text-transform: lowercase;
		color: #19707d;

		&:last-child {
			margin-left: 34px;
		}
	}
	.cameras-title {
		margin-bottom: 10px;

		font-family: "Rubik";
		font-weight: 400;
		font-size: 18px;
		line-height: 21px;
		text-transform: capitalize;
		color: $Green;
	}
}

@media screen and (max-width: $tablet-zoos) {
	.main-cameras__header {
		margin: 0;
		align-items: flex-start;
	}
}

@media screen and (max-width: $mobile) {
	.main-cameras {
		margin-bottom: 14px;
	}
	.main-cameras__header {
		margin-bottom: 3px;

		justify-content: space-between;
		align-items: center;
	}
	.main-cameras__title {
		font-size: 18px;
		line-height: 21px;
	}
	.main-cameras__info-item {
		line-height: 24px;
		width: 24px;
		height: 24px;
		display: block;

		&:last-child {
			margin-left: 7px;
		}
	}
	.main-cameras__subtitle {
		margin-bottom: 13px;

		font-size: 14px;
		line-height: 17px;
	}
}

@media screen and (max-width: $mobile-zoos) {
	.main-cameras__header {
		margin-bottom: 3px;

		justify-content: space-between;
		align-items: center;
	}
	.main-cameras__title {
		font-size: 18px;
		line-height: 21px;
	}
	.main-cameras__info-item {
		line-height: 24px;
		width: 24px;
		height: 24px;
		display: block;

		&:last-child {
			margin-left: 7px;
		}
	}
	.main-cameras__subtitle {
		margin-bottom: 13px;

		font-size: 14px;
		line-height: 17px;
	}
}
