.modal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;

	background-color: rgba(#000, .5);

	display: flex;
	justify-content: center;
	align-items: center;
}
.modal__content {
	padding: 46px 60px;
}
.modal__content-header {
}
.modal__logo {
}
.modal__content-main {
}
.modal__content-title {
}
.modal__form {
}
.modal__label-check {
}
.modal__input-check {
}
.modal__social-btn {
}
.modal__google-btn {
}
.modal__facebook-btn {
}
.modal__label {
}
.modal__input {
}
.modal__label-privacy {
}
.modal__input-privacy {
}
.modal__btn-send {
}