.nav__list {
	display: flex;
	align-items: baseline;
}
.nav__item {
	margin-left: 52px;
}
.nav__btn {
	@include btnNone;

	padding-bottom: 2px;
	font-family: "Roboto Mono";
	font-weight: 500;
	text-transform: uppercase;

	text-decoration: none;
	border-bottom: 2px solid transparent;

	color: $LightGreen;
	transition: 0.2s linear;

	&:hover {
		opacity: 0.8;
		border-bottom: 2px solid $LightGreen;
	}
}

#borderBottom {
	border-bottom: 2px solid $LightGreen;
}

.nav__btn-contact--active {
	opacity: 0.8;
	border-bottom: 2px solid $LightGreen;
}
.header__right {
	display: flex;
	align-items: center;
}

@media screen and (max-width: $smallDesktop) {
	.nav__list {
		margin-left: 10px;
	}
	.nav__item {
		margin-left: 42px;
	}
}

@media screen and (max-width: $tablet) {
	.nav {
		display: none;
	}
}

@media screen and (max-width: $mobile) {
	.nav {
		display: none;
	}
}
