.profile {
	display: flex;
	align-items: center;

	margin-left: 40px;
}

.profile__log-in,
.profile__sign-up {
	@include btnNone;

	cursor: pointer;
	text-transform: uppercase;

	color: $LightGreen;

	transition: opacity 0.15s linear, border-bottom 0.1s linear;

	&:hover {
		opacity: 0.8;
	}
}

.profile__log-in {
	padding-bottom: 2px;
	border-bottom: 2px solid transparent;

	&:hover {
		border-bottom: 2px solid $LightGreen;
	}

	&--active {
		border-bottom: 2px solid $LightGreen;
	}
}

.profile__sign-up {
	margin-left: 24px;
	padding: 16px 14px;

	border: 1px solid $LightGreen;
	border-radius: 100px;
}

@media screen and (max-width: $smallDesktop) {
	.profile {
		display: block;
		cursor: pointer;

		margin-left: 30px;

		width: 56px;
		height: 56px;

		background: #b9d5d9;
		border-radius: 50%;

		position: relative;

		&:hover {
			background: rgba(#b9D5D9, .9)
		}

		&::before {
			content: "";
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 24px;
			height: 24px;
			display: block;

			position: absolute;

			background: url("../../img/icon-profile.png") no-repeat center center;
			background-size: contain;
		}
	}

	.profile__log-in,
	.profile__sign-up {
		display: none;
	}
}

@media screen and (max-width: $tablet) {
	.profile {
		display: none;
	}
}
