.side-cameras {
	margin-bottom: 100px;

	.container--zoos {
		position: relative;
	}
}

.side-cameras__list {
	max-width: 1204px;
	display: flex;
	justify-content: space-between;
}

.side-cameras__list .embed {
	left: 0;
	top: 0;
	transform: none;
	display: block;
	height: 240px;
	width: 380px;

	background: rgba(0, 0, 0, 0.25);
	border-radius: 19.5469px;
}

@media screen and (max-width: $smallDesktop) {
	.side-cameras__list {
		max-width: 1000px;
	}

	.side-cameras__list .embed {
		height: 230px;
		width: 320px;
	}
}

@media screen and (max-width: $smallDesktop-zoos) {
	.side-cameras {
		margin-bottom: 60px;
	}

	.side-cameras__list {
		max-width: 920px;
	}
	.side-cameras__list .embed {
		height: 194px;
		max-width: 295px;
	}
}

@media screen and (max-width: $tablet) {
	.side-cameras__list {
		justify-content: space-around;
		.embed {
			max-width: unset;
			width: 300px;
			height: 200px;
			&:last-child {
				display: none;
			}
		}
	}
}

@media screen and (max-width: $tablet-zoos) {
	.side-cameras {
		margin-bottom: 60px;
	}
	.side-cameras__list {
		justify-content: start;
		.embed {
			width: 235px;
			height: 154px;

			margin-right: 10px;
			&:last-child {
				margin: 0;
				display: none;
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.side-cameras {
		margin-bottom: 30px;
	}

	.side-cameras__list {
		max-width: 450px;
		display: flex;
		justify-content: start;
	}

	.side-cameras__list .embed {
		margin: 0;
		left: 0;
		top: 0;
		transform: none;
		display: block;
		height: 200px;
		width: 300px;

		background: rgba(0, 0, 0, 0.25);
		border-radius: 19.5469px;
		margin-right: 20px;

		&:nth-child(2) {
			margin: 0;
		}
	}
}

@media screen and (max-width: $mobile-zoos) {
	.side-cameras__list {
		max-width: 91%;
		justify-content: space-between;
		.embed {
			margin-right: 8px;
			height: 85px;
			width: 100%;
		}
	}
}
