.sidebar,
.sidebar-mobile {
	position: fixed;
	left: 0;
	top: 110px;
	height: 620px;

	width: $sidebar-width;

	background: rgba(#fff, 0.9);
	box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1);

	border-radius: 0 0 20px;
	z-index: 1;
}
.sidebar__content {
	margin-top: 20px;

	position: absolute;
	right: 0;
	top: 0;
}
.sidebar__animals {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.sidebar__animal {
	margin-bottom: 30px;

	&:last-child {
		margin-bottom: 0;
	}

	a {
		text-decoration: none;
		font-family: inherit;
		color: inherit;
	}
}
.sidebar__label {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;

	font-family: "Roboto Mono";
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	color: #2d2d2d;

	transition: all 0.2s linear;

	&:hover {
		opacity: 0.85;
	}
}

.sidebar__animal-wrapper {
	margin-bottom: 10px;

	padding: 15px 14px 7px 15px;
	height: 96px;

	img {
		width: 70px;
		height: 65px;
	}
}
.sidebar__input:checked + .sidebar__animal-wrapper {
	background: url("../img/wrapper-avatar.png") no-repeat center center;
	background-size: cover;
}

.sidebar__animal-dropdown-list {
	display: none;
	width: 100%;

	position: absolute;
	left: 0;
	top: calc(100% + 6px);

	background: #488d92;
}

.sidebar__animal-dropdown-list--active {
	display: block;
}

.sidebar__animal-dropdown-item {
	display: block;

	padding: 7px 0;
	border-bottom: 1px solid #6a9c9f;

	transition: all 0.1s linear;

	&:hover {
		box-shadow: 0px 1px 10px rgba(18, 87, 91, 0.25);
	}

	&:last-child {
		margin-bottom: 3px;
	}

	a {
		width: 100%;
		display: flex;
		align-items: center;
	}
}

@media screen and (max-width: $tablet) {
	.sidebar,
	.sidebar-mobile {
		width: 90px;
		top: 78px;
	}
}

@media screen and (max-width: $mobile) {
	.sidebar {
		display: none;
	}
	.sidebar-mobile {
		display: block;
		left: 0;
		top: 49px;
		height: 60px;

		width: 100%;

		background: #488d92;

		border-radius: 0;
		z-index: 2;

		&::after {
			content: "";
			right: 50px;
			top: 50%;
			transform: translateY(-50%);
			width: 22px;
			height: 22px;
			display: block;

			position: absolute;

			background: url("../img/icon-triangle-bottom.svg") no-repeat center center;
			background-size: contain;
		}

		&--active {
			&::after {
				transform: rotate(180deg) translateY(50%);
			}

			.sidebar__animal-dropdown-item:first-child {
				box-shadow: 0px 6px 10px inset rgba(18, 87, 91, 0.25);

				&:hover {
					box-shadow: 0px 1px 10px rgba(18, 87, 91, 0.25);
				}
			}
		}
	}
	.sidebar__content {
		width: 100%;

		margin-top: 0;

		position: absolute;
		right: unset;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}
	.sidebar__animals {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.sidebar__animal {
		// width: 100%;
		margin-bottom: 0;

		&:not(:first-child) {
			display: none;
		}
	}
	.sidebar__label {
		width: 100%;
		display: inline-flex;
		flex-direction: row;
		align-items: center;

		font-family: "roboto";
		font-weight: 400;
		letter-spacing: 1px;
		font-size: 15px;
		line-height: 14px;

		text-transform: unset;

		color: #f3f7f8;
	}

	.sidebar__animal-wrapper {
		margin: 0 20px;

		padding: 0;
		height: unset;

		img {
			width: 41px;
			height: 40px;
		}
	}
	.sidebar__input:checked + .sidebar__animal-wrapper {
		background: none;
	}
}

// @media screen and (max-width: $mobile-zoos) {
// 	.sidebar-mobile::after {
// 		right: 100px;
// 	}
// 	.sidebar__content {
// 		left: 45px;
// 	}
// }
