.work-steps {
	margin-top: -65px;
	margin-bottom: 70px;
	padding-bottom: 650px;

	background: url("../img/work-steps-bg.png") no-repeat;
	background-position: center bottom;
	background-size: contain;
}

.work-steps__title {
	margin-bottom: 100px;
	color: $Green;
}

.work-steps__item {
	color: $Green;

	&::before {
		background: url(../img/icon-binoculars.svg) no-repeat center center, #fff;
		box-shadow: 0px 2px 50px rgba(#000, 0.06);
	}
	
}
