.container {
	max-width: 1500px;
	padding: 0 10px;
	margin: 0 auto;

	&--zoos {
		max-width: 1345px;
		padding: 0 10px;
		margin: 0 auto;
	}
}

@media screen and (max-width: $smallDesktop) {
	.container {
		max-width: 1158px;
	}
}

@media screen and (max-width: $tablet) {
	.container {
		max-width: 620px;
	}
}

@media screen and (max-width: $mobile) {
	.container {
		max-width: 320px;
	}
}

@media screen and (max-width: $smallDesktop-zoos) {
	.container {
		&--zoos {
			max-width: 1028px;
		}
	}
}

@media screen and (max-width: $tablet-zoos) {
	.container {
		&--zoos {
			max-width: 550px;
		}
	}
}

@media screen and (max-width: $mobile-zoos) {
	.container {
		&--zoos {
			max-width: 320px;
		}
	}
}
