*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	// overflow: hidden;
	padding-top: 110px;
	background: #f6f9fa;

	font-family: "Roboto";
	font-weight: normal;
	font-style: normal;
	font-size: 18px;
	line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}

img {
	max-width: 100%;
}

@media screen and (max-width: $tablet) {
	body {
		padding-top: 78px;
	}
}

@media screen and (max-width: $mobile) {
	body {
		padding-top: 50px;
	}
}
